= provide(:content_name, "CONTACTS > #{@contact.name}")

.row
	= render 'contacts/showinfo'
.row
	.col-md-12#client_profile
		.row
			= render 'contacts/shownav'
		.row.contact_description
			.contact_invoices
				.frame_caption.outstanding_title Outstanding Invoices
				.table-responsive
					%table.cv_table.contact_table.table
						%thead
							%tr
								%th#date_sent Date Sent
								%th#date_due Date Due
								%th#amount Amount
								%th#action
						%tbody
							- 3.times do
								%tr
									%td
										%p 30 December 2013
										%p 12.00pm
									%td
										%p 30 December 2013
										%p 12.00pm
									%td
										%p $2,000
									%td
										= link_to '', '#', class: 'i fa fa-circle visible-xs cv_td_action_pos', id: 'action_record'
										= link_to 'VIEW INVOICE', '#', class: 'cv_btn hidden-xs cv_td_action_pos', id: 'btn_record'
										= link_to '', '#', class: 'i fa fa-pencil cv_td_action_pos', id: 'edit'
				.frame_caption.outstanding_title Outstanding Invoices
				.table-responsive
					%table.cv_table.contact_table.table
						%thead
							%tr
								%th#date_sent Date Sent
								%th#date_due Date Due
								%th#amount Amount
								%th#action
						%tbody
							- 3.times do
								%tr
									%td
										%p 30 December 2013
										%p 12.00pm
									%td
										%p 30 December 2013
										%p 12.00pm
									%td
										%p $2,000
									%td
										= link_to '', '#', class: 'i fa fa-circle visible-xs cv_td_action_pos', id: 'action_record'
										= link_to 'VIEW INVOICE', '#', class: 'cv_btn hidden-xs cv_td_action_pos', id: 'btn_record'
										= link_to '', '#', class: 'i fa fa-pencil cv_td_action_pos', id: 'edit'