= provide(:content_name, "SETTINGS")

= simple_form_for(current_user, :url => update_setting_user_path(current_user), :html => {:method => :put, :multipart => true, :class => 'form' }) do |f|
	= f.fields_for :setting do |p|
		.row
			.col-md-4.col-sm-12
				%h2 General Settings
				= p.label :color_scheme
				.form-group
					= p.select :color_scheme, %w[purple blue green].map{|color|[color.titleize, color]}

				= p.input :motivational_quotes_feed, input_html: {class: "form-control form-control-square"}
				
				%h2 Workspace
				= p.input :custom_logo, input_html: {class: "form-control form-control-square"}
				= p.input :customized_message, as: :text, input_html: {rows: 8, class: "form-control form-control-square"}
				
				%h2 Personal settings
				= f.input :avatar, as: :avatar
				= f.file_field :avatar, style: "display: none;"
				
			.col-md-4.col-sm-12
				%h2 Invoice & Billing
				= p.label :payment_service
				.form-group
					= p.select :payment_service, %w[Paypal Chargebee]

				= p.input :paypal_email_address, input_html: {class: "form-control form-control-square"}
				
				%h2 Schedule
				= p.input :sync_calendars, input_html: {class: "form-control form-control-square"}
				= p.input :buffer_time, input_html: {class: "form-control form-control-square"}
			
			.col-md-4.col-sm-12
				%h2 Invoice & Billing
				= p.input :freshbook_id, input_html: {class: "form-control form-control-square"}
				= p.input :intuit_id, input_html: {class: "form-control form-control-square"}

	.row.pull-right
		%br
		= f.submit "Save Settings", class: "cv_btn"