= provide(:content_name, "SETTINGS")

= simple_form_for(, :url => contacts_path, :html => {:method => :post, :class => 'form' }) do |f|
	= f.fields_for :settings do |p|
		.row
			.col-sm-4
				%h2 General Settings
				= p.input :color_scheme, input_html: {class: "form-control form-control-square"}
				= p.input :motivational_quotes_feed, input_html: {class: "form-control form-control-square"}
				
				%h2 Workspace
				= p.input :custom_logo, input_html: {class: "form-control form-control-square"}
				= p.input :customized_message, as: :text, input_html: {rows: 8, class: "form-control form-control-square"}

			.col-sm-4
				%h2 Invoice & Billing
				= p.label :payment_service
				.form-group
					= p.select :payment_service, options_for_select: %w[Paypal Chargebee]

				= p.input :paypal_email_address, input_html: {class: "form-control form-control-square"}
				
				%h2 Schedule
				= p.input :sync_calendars, input_html: {class: "form-control form-control-square"}
				= p.input :buffer_time, input_html: {class: "form-control form-control-square"}
			
			.col-sm-4
				%h2 Invoice & Billing
				= p.input :freshbook_id, input_html: {class: "form-control form-control-square"}
				= p.input :intuit_id, input_html: {class: "form-control form-control-square"}

	.row.pull-right
		%br
		= p.submit "Save Settings", class: "cv_btn"