= provide(:content_name, "COACHING LOG")

.row.coachinglog
	.row.cl_action_bar
		= link_to 'ADD NEW ENTRY', '#', class: 'cv_btn pull-left'
		= link_to 'EXPORT DATA', '#', class: 'cv_btn pull-left', id: 'export_data'
		.cl_action_bar_option.pull-right
			.label.pull-left Display data from:
			%select.pull-left
				%option ALL TIME
	%hr
	.row
		.table-responsive
			%table.cv_table.client_list_table.table
				%thead
					%tr
						%th#name Client / Group
						%th#start_date Start Date
						%th#end_date End Date
						%th#paid_hours Paid Hours
						%th#pro_bono_hours Pro-bono Hours
						%th#action
				%tbody
					- 6.times do
						%tr
							%td
								.client_info
									.avatar_normal.pull-left
										%img.img_circle{src:'/assets/avatar/john.jpg'}
									.info_email.pull-left
										%div#name John Appleseed
										%div#email
											%a{href:'mailto:#'} john@appleseed.com
							%td
								%p 12 November 2013
							%td
								%p 30 December 2013
							%td
								%p 12
							%td
								%p 0
							%td
								= link_to '', '#', class: 'i fa fa-pencil cv_td_action_pos', id: 'cl_edit'
								= link_to '', '#', class: 'i fa fa-times cv_td_action_pos', id: 'cl_delete'