= provide(:content_name, "CONTACTS > #{@contact.name}")

.row
	= render 'contacts/showinfo'
.row
	.col-md-12#client_profile
		.row
			= render 'contacts/shownav'
		.row.contact_description
			.col-md-3.notes_side
				#session_notes
					%p
						SESSION NOTES
						= link_to new_contact_note_path, id: :add_new_contact_note, remote: true do
							%i.fa.fa-plus-circle
					%ul#notes_list
						- @notes.each do |note|
							%li
								= link_to note.caption, edit_contact_note_path(params[:contact_id], note[:id]), remote: true, class: 'new_note_a_class'
				%hr
				#documents
					= form_for(:document, :url => add_doc_contact_path(params[:contact_id]), :method => :post, :html => {:class => 'form', id: :contact_add_doc_form}) do |f|
						%p
							DOCUMENTS
							%i.fa.fa-plus-circle#upload_document
						= f.file_field :file, id: :upload_file, style: "display: none;"
					%ul
						- @documents.each do |doc|
							%li
								= link_to doc.name, doc.file.url
			.col-md-9.notes_content
				= form_for(:note, :url => contact_notes_path(params[:contact_id]), :method => :post, remote: true, :html => {:class => 'form', id: :contact_note_form}) do |f|
					.form-group
						.label{id: :new_note_caption, style: "display: none;"} Enter date or subject header for your note…
					.form-group
						= f.text_field :caption, class: 'form-control form-control-square'
					.form-group
						= f.text_area :content, class: 'form-control form-control-square', :rows => 20
					.form-group.pull-right
						= link_to 'DELETE NOTE', '#', class: 'cv_btn', id: :delete_note_btn
						= f.submit 'SAVE NOTE', class: 'cv_btn', id: :save_note_btn