= provide(:content_name, "CONTACTS > #{@contact.name}")

.row
	= render 'contacts/showinfo'
.row
	.col-md-12#client_profile
		.row
			= render 'contacts/shownav'
		.row.contact_description
			.col-md-3.notes_side
				#session_notes
					%p
						SESSION NOTES
						= link_to new_contact_note_path, id: :add_new_contact_note, remote: true do
							%i.fa.fa-plus-circle
					%ul#notes_list
						- @notes.each do |note|
							%li
								= link_to note.caption, edit_contact_note_path(params[:contact_id], note[:id]), remote: true, class: 'new_note_a_class'
				%hr
				#documents
					%p
						DOCUMENTS
						%i.fa.fa-plus-circle
					%ul
						-2.times do
							%li
								%a{href: '#'} Payment contract
			.col-md-9.notes_content
				= form_for(:note, :url => contact_note_path(params[:contact_id], params[:id]), :method => :put, :html => {:class => 'form' }) do |f|
					.form-group
						.label{id: :new_note_caption, style: "display: none;"} Enter date or subject header for your note…
					.form-group
						= f.text_field :caption, class: 'form-control form-control-square'
					.form-group
						= f.text_area :content, class: 'form-control form-control-square', :rows => 20
					.form-group.pull-right
						= link_to 'DELETE NOTE', contact_note_path(params[:contact_id], 1), method: :delete, class: 'cv_btn'
						= f.submit 'SAVE NOTE', class: 'cv_btn'