.client_info
	.avatar_large.pull-left
		%img.img_circle{src: '/assets/avatar/john.jpg'}
	.info_detail_large.pull-left
		%div#name #{@contact.name}
		%div#type #{@contact.contact_type}
		%div#phone #{@contact.mobile}
		%a{href: 'mailto:#'}
			#div#email #{@contact.email}
= link_to 'START SESSION', '#', class: 'cv_btn pull-right', id: 'start_session'