.client_info
	.avatar_large.pull-left
		%img.img_circle{src: "#{@contact.avatar.url(:thumb)}"}
	.info_detail_large.pull-left
		%div#name
			#{@contact.name}
			
		%div#type 
			.dropdown{style: 'display: inline-block;'}
				%a.dropdown-toggle{"data-close-others" => "true", "data-toggle" => "dropdown", href: "#", id: :user_option}
					#{@contact.contact_type}
					%i.fa.fa-caret-down
				%ul.dropdown-menu#contact_type_list
					%li
						= simple_form_for(:contact, :url => contact_path(params[:contact_id]), html: {method: :put, id: :current_client_type})do |f|
							= f.hidden_field :contact_type, :value => "Current Client"
						= link_to "Current Client", '#', :onclick => "changeClientType('Current Client');"
					%li
						= link_to destroy_user_session_path, method: :delete do
							%i.fa.fa-sign-out
							LOG OUT
		%div#phone #{@contact.mobile}
		%a{href: 'mailto:#'}
			#div#email #{@contact.email}
= link_to 'START SESSION', '#', class: 'cv_btn pull-right', id: 'start_session'