.client_info
	.avatar_large.pull-left
		= simple_form_for(:contact, :url => update_contact_info_contact_path(params[:contact_id]), html: { method: :put, id: :contact_avatar_form}) do |f|
			%img{id: :contact_info_img, src: @contact.avatar.url(:thumb), class: 'img_circle'}
			= f.file_field :avatar, id: :contact_info_avatar, style: "display: none;"
	.info_detail_large.pull-left
		%div#name
			#{@contact.name}
			%a{href: contact_details_path(params[:contact_id])}
				%i.fa.fa-pencil
		%div#type 
			= simple_form_for(:contact, :url => update_contact_info_contact_path(params[:contact_id]), html: {method: :put, id: :current_client_type})do |f|
				= f.hidden_field :contact_type, :value => "Current Client"
			.dropdown{style: 'display: inline-block;'}
				%a.dropdown-toggle{"data-close-others" => "true", "data-toggle" => "dropdown", href: "#", id: :user_option}
					#{@contact.contact_type}
					%i.fa.fa-caret-down
				%ul.dropdown-menu#contact_type_list
					- ["Current Client", "Hot Lead", "Prospect", "Past Client"].each do |client_type|
						%li
							= link_to client_type, '#', :onclick => "changeClientType('#{client_type}');"
		%div#phone Mobile: #{@contact.mobile}
		%a{href: 'mailto:#'}
			#div#email #{@contact.email}
.pull-right#action_bar
	= link_to 'skype:' + @contact.skype_id + '?call' do
		%i.fa.fa-skype
	= link_to 'LOG SESSION', '#', class: 'cv_btn', 'data-toggle' => 'modal', :href => '#log_session_modal', id: 'log_session'

#log_session_modal.modal.fade
	= simple_form_for(:sessionlog, :url => add_sessionlog_contact_path(params[:contact_id]), :html => {:method => :post, :class => 'form_horizontal' }) do |f|
		.col-md-3.col-xs-1
		.col-md-6.col-xs-10{style: 'background-color: #f3f3f3;'}
			.modal-header
				%a.close{"data-dismiss" => "modal"} ×
				%h3.modal_caption Log Session
			.modal-body
				.row
					.col-md-6.col-xs-12.col-sm-6
						.form-group
							= f.label :session_duration
							.row
								= f.input_field :duration, required: true, class: "pull-left form-control detail_input form-control-square"
								%span.detail_caption.pull-left minutes
					.col-md-6.col-xs-12.col-sm-6
						.form-group
							= f.label "Session Date"
							.input-group
								= f.input_field :date, as: :string, class: "form-control form-control-square", value: Time.now.strftime('%d-%m-%Y')
								%span{class: 'cv_datepicker_btn input-group-addon', id: :log_session_date}
									%i.fa.fa-calendar
					.col-md-6.col-xs-12.col-sm-6
						.form-group
							.form-group
								= f.label "Billing Status"
								= f.select :billing_status, options_for_select(["Paid", "Pro bono"])
					.col-md-6.col-xs-12.col-sm-6
						.form-group
							.form-group
								= f.label "Client Name"
								= f.input_field :client_name, class: "form-control form-control-square", disabled: true, value: @contact.name
			.modal-footer
				= f.submit 'SAVE', class: 'cv_btn'
				= link_to 'CLOSE', '#', 'data-dismiss' => 'modal', class: 'cv_btn'
		.col-md-3.col-xs-1