= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
	.row-fluid
		.span12
			.signin_legend COACHVANTAGE
			.span6.signin_input
				.pull-right.singin_input_right
					= f.input :name, :label => 'USERNAME', :input_html => {:class => 'input_style'}, :autofocus =>true
					= f.input :password, :label => 'PASSWORD', :input_html => {:class => 'input_style'}
					= f.input :remember_me, :label => 'REMEMBER ME', :wrapper_html => {:class => 'pull-left'}, :as => :boolean if devise_mapping.rememberable?
					= f.button :submit, "LOGIN", :class => 'cv_signin_btn pull-right'
			.span5.signin_other
				= link_to('#', class: 'btn btn-primary') do
					%i.fa.fa-facebook-square.fa-2x.pull-left
					.signin_fb_caption.pull-left Login with Facebook
					.div_clear
				.div_clear
				= link_to('#', class: 'btn btn-danger') do
					%i.fa.fa-google-plus.fa-2x.pull-left
					.signin_google_caption.pull-left Signin with Google
					.div_clear
		.span12
			.span2
			.span10
				= render "devise/shared/links"
