.contact
	.contact_action_bar
		= link_to 'ADD NEW CONTACT', new_contact_path, class: 'cv_btn pull-left', 'data-toggle' => 'modal', :href => '#new_contact_modal'
		.contact_action_bar_option.pull-right
			%p.pull-left Display data from:
			%select.pull-left
				%option ALL TIME
			.div_clear
		.div_clear
	%hr
	.contact_caption
		.frame_caption.pull-left All Contacts
		.pull-right
			.disp_opt_caption.pull-left Displaying:
			= select :email, :status, options_for_select([["canceled", "1"], ["pending", "2"], ["success", "3"]]), class: 'pull-left'
		.div_clear
	.contact_list
		- 15.times do
			.client_info.contact_info_panel.pull-left
				.avatar_normal.pull-left
					%img.img_circle{src: '/assets/avatar/john.jpg'}
				.info_detail.pull-left
					%div#name Trevor J.Holden
					%div#type Individual client
					%div#phone +65 9625 2358
					%a{href: 'mailto:#'}
						#div#email trevorholden@gmail.com
				.contact_info_expand.pull-left
					%img{src: '/assets/expand.png'}
				.div_clear
		.div_clear
#new_contact_modal.modal.fade.new_contact
	= simple_form_for(:user, :url => new_contact_path, :html => {:method => :post, :class => 'form-horizontal' }) do |f|
		.modal-header
			%a.close{"data-dismiss" => "modal"} ×
			.frame_caption Add new contact
		.modal-body
			= f.input :salutation, :label => 'NAME', as: :select, collection: ['Mr', 'Ms', 'Mrs', 'Dr', 'Prof'], :autofocus => true
			= f.input :first_name, :label => '-', :placeholder => 'First Name'
			= f.input :last_name, :label => '-', :placeholder => 'Last Name'
			= f.input :birthday, :label => 'BIRTHDAY', as: :date, start_year: Date.today.year - 5, end_year: Date.today.year - 90, order: [:day, :month, :year]
			= f.input :address, :label => 'ADDRESS', :placeholder => 'Home Address'
			= f.input :phone, :label => 'PHONE NUMBER', :placeholder => 'Phone Number'
			= f.input :email, :label => 'EMAIL', :placeholder => 'coach@coachvantage.com'
			= f.input :skype_id, :label => 'SKYPE ID'
			= f.input :biz_title, :label => 'BUSSINESS TITLE'
			= f.input :company_name, :label => 'COMPANY NAME'
			= f.input :company_addr, :label => 'COMPANY ADDRESS'
			= f.input :interests, :label => 'PERSONAL INTERESTS'
		.modal-footer
			= f.button :submit, "CREATE", class: 'cv_btn'
			= link_to 'CLOSE', '#', 'data-dismiss' => 'modal', class: 'cv_btn'