%ul.nav-stacked
	%li
		%p COACHVANTAGE
	%li.nav-menu{class: "#{sidebar_class('dashboards')}"}
		%a{href: '/dashboards'}
			%img{src: '/assets/dashboard.PNG'}
			%h5 Dashboard
	%li.nav-menu{class: "#{sidebar_class('schedules')}"}
		%a{href: '/schedules'}
			%img{src: '/assets/schedule.PNG'}
			%h5 Schedule
	%li.nav-menu{class: "#{sidebar_class('contacts')}"}
		%a{href: '/contacts'}
			%img{src: '/assets/contact.PNG'}
			%h5 Contact
	%li.nav-menu{class: "#{sidebar_class('invoices')}"}
		%a{href: '/invoices'}
			%img{src: '/assets/invoice.PNG'}
			%h5 Invoice
	%li.nav-menu{class: "#{sidebar_class('coachinglogs')}"}
		%a{href: '/coachinglogs'}
			%img{src: '/assets/coachinglog.PNG'}
			%h5 Coaching Log
	%li.nav-menu{class: "#{sidebar_class('documents')}"}
		%a{href: '/documents'}
			%img{src: '/assets/document.PNG'}
			%h5 Document
	%li.nav-menu{class: "#{sidebar_class('reports')}"}
		%a{href: '/reports'}
			%img{src: '/assets/report.PNG'}
			%h5 Report