%ul.nav-stacked
	%li
		%p COACHVANTAGE
	%li.nav-menu{class: "#{sidebar_class('dashboard')}"}
		%a{href: '/dashboard'}
			%img{src: '/assets/dashboard.PNG'}
			%h5 Dashboard
	%li.nav-menu{class: "#{sidebar_class('schedule')}"}
		%a{href: '/schedule'}
			%img{src: '/assets/schedule.PNG'}
			%h5 Schedule
	%li.nav-menu{class: "#{sidebar_class('contact')}"}
		%a{href: '/contact'}
			%img{src: '/assets/contact.PNG'}
			%h5 Contact
	%li.nav-menu{class: "#{sidebar_class('invoice')}"}
		%a{href: '/invoice'}
			%img{src: '/assets/invoice.PNG'}
			%h5 Invoice
	%li.nav-menu{class: "#{sidebar_class('coachinglog')}"}
		%a{href: '/coachinglog'}
			%img{src: '/assets/coachinglog.PNG'}
			%h5 Coaching Log
	%li.nav-menu{class: "#{sidebar_class('document')}"}
		%a{href: '/document'}
			%img{src: '/assets/document.PNG'}
			%h5 Document
	%li.nav-menu{class: "#{sidebar_class('report')}"}
		%a{href: '/report'}
			%img{src: '/assets/report.PNG'}
			%h5 Report