!!!
%html
	%head
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		%title= content_for?(:title) ? yield(:title) : 'Coachvantage'
		%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Coachvantage'}"}
		= stylesheet_link_tag "application", media: "all"
		= stylesheet_link_tag "main", media: "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body{class: "#{current_user.setting.color_scheme}"}
		.page_fixed
			.navbar.navbar-inverse.navbar-fixed-top.visible-xs#nav_header
				%button{class: 'navbar-toggle pull-left', type: 'button', 'data-toggle' => 'collapse', 'data-target' =>'#sidebar', id: 'collapse_btn'}
					%span{class: 'sr-only'} Toggle navigation
					%span{class: 'i fa fa-bars'}
				= link_to 'COACHVANTAGE', '#', class: 'navbar-brand'
			#main
				#sidebar.collapse.navbar-collapse.pull-left
					= render 'layouts/side_navbar'
				#content_div.pull-left.show_navbar
					.content_header
						%h5.visible-md.visible-.visible-lg.pull-left
							= yield(:content_name)
						%ul.nav.navbar-nav.pull-right#current_user_option
							%li.dropdown
								%a.dropdown-toggle{"data-close-others" => "true", "data-toggle" => "dropdown", href: "#", id: :user_option}
									= image_tag current_user.avatar.url(:thumb), id: :user_option_avatar, class: 'img-circle'
									%span#welcome_user
										%small Welcome,
										%br
										= current_user.name
									%i.fa.fa-caret-down#welcome_arrow
								%ul.dropdown-menu#user_option_list
									%li
										= link_to settings_users_path do
											%i.fa.fa-cog
											SETTINGS
									%li
										= link_to destroy_user_session_path, method: :delete do
											%i.fa.fa-sign-out
											LOG OUT
					.content_flash
						#flash-container.container
							- flash.each do |type, msg|
								- if msg.is_a?(String)
									%div{ class: "alert alert-#{ type == :notice ? 'success' : 'error' }" }
										%a.close{'data-dismiss' => 'alert'}
											&times;
										= msg
					.content_main
						.content_yield
							= yield